body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

.skip-link {
    position: absolute;
    left: -100%;
    background-color: whitesmoke;
    padding: .5em;
    margin: 1em;
}
.skip-link:focus {
    left: 0;
}